// 重置
@import "reset";

// 函数
@import "functions";

// 变量
@import "define";

// 外部
@import "popup";

// flex
@import "flex";

[v-cloak] {
  display: none;
}

.toastbox{
  width: 100%;
  position: fixed;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  z-index: $z-level-9;

  .toast{
    font-size: r(26);
    color: white;
    background-color: rgba(0,0,0,.8);
    padding: r(20) r(15);
    border-radius: r(10);
  }
}
