@import "base";

.index-page{
  @include wh(100%, 100%);
  position: relative;
}
.top-bg{
  width: 100%;
  z-index: $z-level-0;
}
.bottom-bg{
  width: 100%;
  z-index: $z-level-0;
}

// 首页
.result-box{
  @include bg('../img/box_bg.png');
  @include wh(100%, r(911));
  z-index: $z-level-1;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  padding: r(89) r(70) 0;
}

.result-titlebox{
  display: table;
  margin: 0 auto;
  position: relative;

  .index-title{
    display: inline-block;
    letter-spacing: r(4);
  }
  .sponsor-link{
    position: absolute;
    right: r(-104);
    top: r(-18);
    @include wh(r(94), r(28));
    @include bg('../img/logo_bg.png');
  }
  .sponsor-logo{
    @include wh(r(94), r(28));
  }
}

.result-dt-box{
  border-bottom: 1px solid $border-grey-light;
  padding: r(40) 0 r(20);
}
.result-topbox{
  height: r(60);
  margin-bottom: r(20);
}
.user-infobox{
  height: r(60);
}
.user-imgbox{
  width: r(60);
  height: r(60);
  background: url('../img/logo_bg.png');
  background-size: 100% 100%;
}
.user-img{
  width: r(50);
  height: r(50);
  border-radius: 50%;
  margin: r(5);
}
.user-otherbox{
  margin-left: r(10);
}
.result-dt-topbox-rb{
  @include wh(r(206), r(40));
  @include bg('../img/six_dark_btn.png');
  line-height: r(40);
}

.result-pm-box{
  border-bottom: 1px solid $border-grey-light;
  padding: r(30) 0;
}
.result-pm-topbox{
  margin-bottom: r(20);
}
.result-pm-topbox-rb{
  @extend .result-dt-topbox-rb;
}
.result-pm-para{
  margin-bottom: r(12);
  &:last-child{
    margin-bottom: 0;
  }
}

.result-jl-box{
  padding: r(30) 0;
}
.result-jl-topbox{
  margin-bottom: r(20);
}
.result-jl-topbox-rb{
  @extend .result-dt-topbox-rb;
}

.result-btnbox1, .result-btnbox2{
  @include wh(r(500), r(53));
  position: absolute;
  left: r(70);
  bottom: r(80);
}
.result-continuebtn{
  @include wh(r(209), r(53));
  @include bg('../img/four_dark_btn.png');
  line-height: r(53);
}
.result-sharebtn{
  @include wh(r(209), r(53));
  @include bg('../img/four_grey_btn.png');
  line-height: r(53);
}
.result-joinbtn{
  @extend .result-continuebtn;
}
