<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
  meta(name="format-detection" content="telephone=no,email=no,address=no")
  meta(name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no")
  title 游戏结果
  link(rel="stylesheet", href="./css/result.css")
  script.
    var html = window.document.documentElement
    var sw = html.clientWidth
    var sh = html.clientHeight

    html.dataset.sw = sw
    html.dataset.sh = sh
    html.style.fontSize = sw * (32 / 640) + 'px'
body
  div#result.result-page(v-cloak)

    //- 成绩单
    div.result-box
      //- 成绩单标题
      div.result-titlebox
        h2.text-50.text-center.text-bold.index-title 成绩单
        a.sponsor-link(href="{{ model.sponsor.sponsor_link }}", target="_blank")
          img.sponsor-logo(:src="model.sponsor.sponsor_logo || defaultImg", alt="赞助商logo")

      //- 答案详情
      div.result-dt-box
        div.result-topbox(flex="main:justify cross:center")
          div.user-infobox(flex="dir:left")
            div.user-imgbox
              img.user-img(:src="model.user_info.avatar_url", alt="")
            div.user-otherbox(flex="dir:top main:justify")
              p.user-nickname {{ model.user_info.nickname }}
              p.user-id ID:{{ model.user_info.user_id }}
          a.text-24.text-center.text-white.result-dt-topbox-rb(href="./detail.html") 答题详情查看
        div(flex="main:justify cross:center")
          p.text-28 总得分：#[span.text-bold {{ gameResult.score }}]
          p.text-28 总用时：#[span.text-bold {{ gameResult.date }} s]

      //- 排名详情
      div.result-pm-box
        div.result-pm-topbox(flex="main:justify cross:center")
          p.text-28.result-pm-topbox-span 当前排名
          a.text-24.text-center.text-white.result-pm-topbox-rb(href="./rank.html") 排名详情查看
        p.text-24.text-light.result-pm-para 日排名：第{{ rankResult.day_rank.day_rank_index }}名，击败{{ rankResult.day_rank.day_rank_win }}人；
        p.text-24.text-light.result-pm-para 周排名：第{{ rankResult.week_rank.week_rank_index }}名，击败{{ rankResult.week_rank.week_rank_win }}人；
        p.text-24.text-light.result-pm-para 月排名：第{{ rankResult.month_rank.month_rank_index }}名，击败{{ rankResult.month_rank.month_rank_win }}人；
        p.text-24.text-light.result-pm-para 年排名：第{{ rankResult.year_rank.year_rank_index }}名，击败{{ rankResult.year_rank.year_rank_win }}人；

      //- 奖励详情
      div.result-jl-box
        div.result-jl-topbox(flex="main:justify cross:center")
          p.text-28.text-dark.result-jl-topbox-span 大赛组委会寄语
          a.text-24.text-center.text-white.result-jl-topbox-rb(href="./award.html") 奖励详情查看
        p.text-24.text-light.text-multi-lines.result-jl-para 日冠军至少奖励{{ award.day_award }}元，周冠军至少奖励{{ award.week_award }}元，月冠军至少奖励{{ award.month_award }}元，年冠军至少奖励{{ award.year_award }}元。少年郎，继续加油！冲击大奖！

      //- 按钮
      div.result-btnbox1(flex="box:mean")
        div(flex="main:center")
          a.text-32.text-center.text-white.result-continuebtn(href="./index.html") 再来一次
        div(flex="main:center")
          div.text-32.text-center.text-white.result-sharebtn(@click="shareResult()") 分享此刻
      div.result-btnbox2(flex="main:center")
        a.text-32.text-center.text-white.result-joinbtn(href="./index.html") 我要参赛

  script.
    //- 必须放在脚本之前，此处先获取后，vue中才能使用
    //- window.RenderModel = {{data|safe}}
    window.RenderModel = {
      gameTitle: '全民诗词大赛',
      user_info: {
        nickname: '大大大大',
        user_id: '1234567',
        avatar_url: 'http://7xi5uc.com1.z0.glb.clouddn.com/khb_default_pic.png'
      },
      sponsor: {
        sponsor_name: '伊利',
        sponsor_link: 'http://www.yili.com/cms/index',
        sponsor_logo: 'https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=31061248,43125405&fm=58'
      }
    }
  script(src="https://cdn.bootcss.com/fastclick/1.0.6/fastclick.min.js")
  script(src="https://cdn.bootcss.com/jquery/2.1.4/jquery.min.js")
  script(src="https://cdn.jsdelivr.net/vue/1.0.26/vue.min.js")
  script(src="https://cdn.jsdelivr.net/vue.resource/1.2.1/vue-resource.min.js")
  script(src="./js/method.js")
  script(src="./js/jswe.js")
  script(src="./js/result.js")
  script.
    // 使用fastclick解决300ms延迟
    if ('addEventListener' in document) {
      document.addEventListener('DOMContentLoaded', function() {
        FastClick.attach(document.body);
      }, false);
    }

    //- weixin share
    //- V.initWxData({
    //-   imgUrl: ''/* 分享链接图片url */,
    //-   link: '',
    //-   title: ''/* 分享链接标题 */,
    //-   desc: ''/* 分享链接内容说明 */,
    //-   timeLine: ''/* 分享到朋友圈时的内容说明，为空则复用desc的值 */
    //- }, true);
